:root{
--cardinal: #c33149ff;
--xanthous: #f3b61fff;
--keppel: #15b097ff;
--melon: #fbc3bcff;
--indigo-dye: #084b83ff;    
}

.grid {

    grid: repeat(minmax(12, 1fr)/ repeat(12, 1fr));
   height: 200vh;
   }
   
   .chatPopup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 20px;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 300px;
    z-index: 9;
  }
  
  .chatPopup.open {
    display: block;
  }
  
  .chatHeader {
    padding: 10px;
    background-color: #4caf50;
    color: white;
    text-align: center;
  }
  
  .closeBtn {
    float: right;
    cursor: pointer;
    background-color: transparent;
    border: none;
  }
  
  .chatMessages {
    grid-row: 5/6;
    grid-column:6/7;
    height: 200px;
    width: 100%;
    overflow-y: scroll;
    padding: 10px;
  }
  
  .message {
    margin-bottom: 10px;
  }
  
  .chatInput {
    font-size: medium;
    word-wrap: break-word;
   border-radius: 10%;
    display: flex;
    align-items: center;
  }
  
  .chatInput input {
    flex: 1;
    padding: 8px;
  }
  
  .chatInput button {
    padding: 8px 16px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
  }
/* .chatText{
    grid-row: 5/6;
    grid-column:6/7;
font-size: medium;
 word-wrap: break-word;
border-radius: 10%;
 background-color:var(--xanthous)
}

.chatForm{
    border: 4px solid  brown;
    grid-row:7/11;
    grid-column: 6/span 4;
}
.chatInput{
    grid-row: 8/10;
grid-column: 6/span 3;
justify-content: center;
    width: 50%;
}

.chatButton:hover{
    color:var(--cardinal);
} */