:root{
--cardinal: #c33149ff;
--xanthous: #f3b61fff;
--keppel: #15b097ff;
--melon: #fbc3bcff;
--indigo-dye: #084b83ff;    
}


.chatText{
font-size: larger;
 word-wrap: break-word;

 background-color:var(--xanthous)
}
.chatButton{
    width:100%;
    height:100%;
    background-color: var(--melon);
    border-radius: 30%;
    padding: 2%;
}