#root {
    --cardinal: #c33149ff;
    --xanthous: #f3b61fff;
    --keppel: #15b097ff;
    --melon: #fbc3bcff;
    --indigo-dye: #084b83ff;
}



.navigationBar {
    background-color: var(--xanthous);
    display: flex;
    justify-content: start;
    flex-direction: row;
    list-style-type: none;
    width: 100%;
}

.navLink {
    display: block;
    padding: 3% 3% 3% 3%;
    margin-left: auto;
}

.navLink:hover {
    background-color: var(--keppel);
}
.registerPad{
    padding: 10%;
}
.loginPosition {
    margin-left: auto;
}