@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

#root {
  --cardinal: #c33149ff;
  --xanthous: #f3b61fff;
  --keppel: #15b097ff;
  --melon: #fbc3bcff;
  --indigo-dye: #084b83ff;
}

.grid {

  grid-template-rows: repeat(12, 1fr);
  grid-template-columns: repeat(12, 1fr);
gap:0 0 0 0 ;
margin: 0 0 0 0;
}

.navigation{
  grid-row: 1/2;
  grid-column: 1/span 12;
}
.title{
  grid-row: 2/3;
  grid-column: 1/span 12;

text-align: center;
}
.createButton {
  grid-row: 3/4;
  grid-column: 6/span 4;
}


.tableDesign{
grid-row: 4/5;
grid-column: 1/span 11; 
table-layout: fixed;
width: 80%;
margin-left: auto;
margin-right: auto;
background-color: var(--melon);
font-family: 'Comfortaa', sans-serif;
 border-collapse: collapse; 
}
.tableDesign th , td {
 border: 1px solid var(--indigo-dye);
 
}
td{
  
}
th , td {
 
  width: 100%
}
