#root {
  --cardinal: #c33149ff;
  --xanthous: #f3b61fff;
  --keppel: #15b097ff;
  --melon: #fbc3bcff;
  --indigo-dye: #084b83ff;  
}
.grid{
  display: grid;
  grid-template-rows: repeat(12,1fr);
  grid-template-columns: repeat(12,1fr);
  }

 
  .chatBar{
  width: 80%;
  padding:2% 2% 2% 2%;
    grid-row:11/12;
    grid-column: 1/span 12;
   
  }