.navigation{
     grid-row: 1/1;
    grid-column: 1/span 12; 
   

}
.navigationBar{
   background-color:var(--xanthous); 
  
    /* height:100%; */
    display: flex;
   justify-content:start;
    flex-direction: row;
   list-style-type: none;

    }
.navigationBar li{
    display: inline-block;
    padding: 2% 2% 2% 2%;
   
}  
.navigationBar a{

}
.navigationBar a:hover{
    
   background-color: lightyellow;  

    }


.loginPosition{
margin-left: auto;
}