#root {
    --cardinal: #c33149ff;
    --xanthous: #f3b61fff;
    --keppel: #15b097ff;
    --melon: #fbc3bcff;
    --indigo-dye: #084b83ff;  
  }
.button{
    padding:3%;
    border-radius: 20%;
    font-size: larger;
  }