@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
#root {
    --cardinal: #c33149ff;
    --xanthous: #f3b61fff;
    --keppel: #15b097ff;
    --melon: #fbc3bcff;
    --indigo-dye: #084b83ff;  
  }
.button{
    padding:2%;
    border-radius: 20%;
    font-family: 'Comfortaa','sans-serif';
    font-size: larger;
  }